jobs:
- job: macOS
  pool:
    vmImage: 'macOS-10.13'
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '8.x'

  - bash: |
      pip3 install gmsaas
    displayName: 'Download Genymotion Installer'
  - bash: |
      gmsaas config set android-sdk-path $ANDROID_HOME
    displayName: 'Set Android Sdk Path'
   
  - bash: |
      gmsaas auth login "$(user)" "$(pass)"
    displayName: 'Access Genycloud'

  - script: |
      instance=$(gmsaas instances start be9897e5-6de3-43ab-9002-4a08bba1d4ca TaikoChrome)
      echo "##vso[task.setvariable variable=sauce]instance"
      echo $(sauce)
      gmsaas instances adbconnect $instance
    displayName: 'Open Emulator'

  - script: |
     npm install
     npm test
    displayName: 'Taiko test'
    continueOnError: true
  
  - script: |
      echo $(sauce)
      gmsaas instances stop $(sauce)
    displayName: 'Close Emulator'
  